body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #282c34;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#myH1 {
    font-size: 3rem;
    margin-top: 20px;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    border: 5px solid #4fcf4d; 
    margin-bottom: 20px;
    background: #323131;
    padding: 15px;
    border-radius: 20px;
}

#display {
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.74);
    margin-bottom: 25px;
    padding: 20px; 
    background: #343943;
    color: #fff;
    border-radius: 10px;
}

.controls {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    margin-top: 10px; 
}    

.controls button {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 5px; 
    min-width: 125px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

#startBtn {
    background: #4fcf4d;
}

#stopBtn {
    background: #f43636;
}

#resetBtn {
    background: #2180f3;
}

.controls button:hover {
    opacity: 0.8;
}